<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bem vindos</h1>
  <h5>* Para continuar selecione uma das opcões abaixo</h5>
  <ion-button color="primary" routerLink="/login" expand="block" shape="round">Fazer Login</ion-button>
  <ion-button color="primary" routerLink="/registro"  expand="block" shape="round">Fazer Registro</ion-button>
  <ion-button color="primary" routerLink="/produto"  expand="block" shape="round">Registrar produto</ion-button>
</ion-content>
